
			.header-wrap {
				/*position: fixed;*/
				width: 100%;
				z-index: 1000;
				top: 0;
			}
			.drawer-wrap {
				position: fixed;
				width: 100%;
				z-index: 1000;
				bottom: 0;
				display: none;
			}
			.header-first, .cmx-head {
				background: rgb(239, 239, 239);
				color: #3273dc;
				padding-top: .60rem!important;
				padding-bottom: .60rem!important;
				width: 100%;
				z-index: 1000;
				top: 0;
				transition: top .3s;
			}
			.header-first.hidden{
			    top:-2.15rem;
			}
			.text-hover:hover {
				color: #d6cdcd;
			}
			.header-second {
				background: #FFFFFF;
				padding: 10px 0px;
				width: 100%;
				z-index: 1000;
				box-shadow: 0 1px 2px rgba(0,0,0,.24);
				border-bottom: none;
			}
			.drawer-second {
				background: #FFFFFF;
				padding-top: 7px;
				margin-bottom: -3px;
				width: 100%;
				z-index: 1000;
				bottom: 0;
				box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
				border-top: 1px solid #e8e8e8;
			}
			.drawer-second-box {
				display: table;
				width: 100%;
				color: #333E02;
			}
			.col-drawer {
				text-align: center;
				width: 20%;
			}
			.icon {
			    text-align: center;
			}
			.drawer-menu {
				font-size: 12px;
				color: #000;
			}
			.logo {
				max-height: 3.5rem;
				/*max-height: 5.5rem;*/
			}
			.hsb-col-logo {
				/*width: 20%;*/
				width: 14%;
			}
			.hsb-col-search {
				padding-left: 25px;
				padding-right: 46px;
			}
			.header-first-two a {
				color: #3273dc;
			}
			.container-top-search i.fa {
				color: #e00000;	
				top: 10px;
				right: 9px;
				font-size: 14px;
			}
			.slick-dots li button:before {
				color: #264A97;
			}
			.slick-dots li.slick-active button:before {
				color: #264A97;
			}
			.slick-prev {
			    left: 15px;
			    position: absolute;
			    z-index: 800;
			}
			.slick-next {
			    right: 15px;
			    position: absolute;
			    z-index: 800;
			}
			.box-category {
				background-color: #ffffff;
				border-radius: 8px;
				box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
				color: #4a4a4a;
				display: block;
				margin-left: 0;
				margin-right: 0;
			}
			.col-category {
				width: 22%;
				padding-left: 0;
				padding-right: 0;
			}
			.category-menu li a {
				padding: 7px 18px;
			}
				.category-menu li a:hover {
					background: #f5f5f5;
					color: #eb0000!important;
				}
			.category-title {
				color: #000;
				font-weight: bold;
				padding: 4px 18px;
			}
			.category-image {
				margin-top: -3px;
			}
			.box-subcategory {
				background-color: #ffffff;
				width: 100%;
				height: 100%;
			    position: absolute;
			    top: 0;
				z-index: 999;
				display: none;
				overflow-y: scroll;
			}
			.row-category-product .box-product{
				margin-bottom: 20px;
				border-radius: 5px;
				overflow: hidden;
				box-shadow: 1px 1px 8px 0px #5d5d5d29;
			}

			.row-category-product .box-product:hover{
				box-shadow: -2px 6px 12px 9px #00000024;				
			}

			.row-category-product .box-product-detail{
				padding: 8px;
			}

			.row-category-product .box-product-name{
				margin: 0px;
			}

			.subcategory-detail {
				display: none;
			}
			.subcategory-title {
				color: #eb0000;
				font-weight: bold;
				padding: 4px 18px;
			}
			.subcategory-desc {
				font-size: 16px;
				font-weight: 700!important;
			}
			.subcategory-list {
				margin-bottom: 5px;
			}
			.img-subcategory {
				height: auto;
				width: 85%;
				border-radius: 5px!important;
			}
			.container-category {
				background-color: #f5f5f5!important;
				padding-bottom: 30px;
			}
			.container-breadcrumb-home {
				padding-top: 20px!important;
			}
			.col-slideshow {
				/*width: 70%;*/
				padding-left: 0;
				padding-right: 0;
			}
			.img-slideshow {
			   width: 100%;
			   border-top-right-radius: 0px;
			   border-bottom-right-radius: 0px;
			}
			.container-image-home {
				padding-top: 20px;
			}
			.btn-one, .btn-two {
				border-color: transparent;
			}
			.btn-one {
				background: #383d48;
			}
			.btn-two {
				border-color: #dbdbdb;
				border-width: 1px;
			}
			.btn-three {
				background: #0063a7;
				color: #FFFFFF;	
			}
			.btn-three:hover {
				background: #004d81;
			}
			.box-footer-caret {
				background: #0063A7;
			}
			.copyright {
				background: #151515;
				color: #FFFFFF;
			}
			.copyright a {
				color: #FFFFFF;
			}
			.ulcat a, .hpc-txt {
				color: #333333;	
			}
			.ulcat a:hover {
				color: #333333;
			}
			.top-search {
				padding: 1.3rem;
				border: 1px solid transparent;
				border-radius: 4px;
				border-color: #dbdbdb;
				color: #363636;
				box-shadow: none;
			}
				.top-search:focus {
					border-color: #3273dc;
					box-shadow: none;
				}
			.sch-show-finish-shoping {
				background: #0063a7;
			}
			.xs-menu li a i {
				color: #264A97;
			}

			.btn-upload {
				background: #0063a7;
			}
				.btn-upload .txt-upload {
					color: #FFFFFF;
				}
			.btn-upload .icon-upload {
				background: #0063a7;
				color: #FFFFFF;	
			}
			.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
				border-bottom: 7px solid #0063a7;
			}
			.container-checkout .nav-tabs>li.active>a, .container-checkout .nav-tabs>li.active>a:focus, .container-checkout .nav-tabs>li.active>a:hover {
				border-bottom: 3px solid #0063a7;
			}

			.input-auth:focus {
			    box-shadow: inset 0 1px 1px #0063a7;
			    border: 1px solid #0063a7;
			}
			.boa-list-add {
			    color: #0063a7;
			}
			.box-status-order-separate {
				background: #0063a7;
			}
			.loh-code {
				color: #0063a7;	
			}
			.loh-step-list {
				background: #0063a7;
			}
			.box-my-account:hover {
				background: #0063a7;
			}

			.container-sidebar-account {
			    border-left: 5px solid #0063a7;
			}

			.footer {
				background: #313131;
			}
			.box-footer-content ul li a {
				color: #747474;
			}
			.box-footer-content {
				color: #747474;
			}
			.box-footer-title {
				color: #FFFFFF;	
			}

			@media (max-width:767px) {
				.top-search {
					border: 1px solid transparent;
					border-radius: 4px;
					border-color: #dbdbdb;
					color: #363636;
					box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
				}
					.top-search:focus {
						border-color: #3273dc;
						box-shadow: 0 0 4px #747474;
					}
				.box-product-name{
				    font-size: 11.5px;
					margin-bottom: 4px !important;
				}
				.box-product-price{
					font-size: 11.5px;
				}
				.logo{
					max-height: 5.5rem;
				}

				.hsb-col-search {
					padding-left: 10px;
					padding-right: 10px;
				}
			}
			.popular-search{
				margin-top: 4px;
				margin-bottom: -5px;
				font-size: 1.3rem;
			}
			.popular-search a{
				color: #FFF !important;
				text-transform: capitalize;
				text-decoration: none;
			}		
			.popular-search a:hover{
				color: #d6cdcd !important;
			}	

			.static-content{
				width: 30%;
				height: 100%;
				padding: 0px;
				margin: 0px;
				display: grid;
			}
			.static-content-item{
				padding: 2px;
				padding-top: 0px;
				padding-bottom: 0px;
				margin: 0px;
			}	
			.static-content-img{
				height: 100%;
				width: 100%;
			}

			.slide-category-item{
				padding: 10px;
				text-align: center;
			}

			.slide-category-item img{
				height: 32px;
				width: 32px;
				margin: 5px;
				display: inline-block;
			}

			.tabs {
				background: #fff;
				position: relative;
				/*margin-bottom: 50px;*/
				border: 1px solid #c2c2c2;
			}

			.tabs > input,
			.tabs > span {
				width: 50%;
				height: 42px;
				line-height: 42px;
				position: absolute;
				top: 0;
			}

			.tabs > input {
				cursor: pointer;
				filter: alpha(opacity=0);
				opacity: 0;
				position: absolute;
				z-index: 99;
			}

			.tabs > span {
				background: #f0f0f0;
				text-align: center;
				overflow: hidden;
			}

			.tabs > span i,
			.tabs > span {
				-webkit-transition: all .5s;
				   -moz-transition: all .5s;
					 -o-transition: all .5s;
						transition: all .5s;
			}

			.tabs > input:hover + span {
				background: rgba(255,255,255,.1);
			}

			.tabs > input:checked + span {
				background: #fff;
			}

			#tab-1, #tab-1 + span {
				left: 0;
			}

			#tab-2, #tab-2 + span {
				left: 50%;
			}
			.tab-content {
				padding: 65px 20px 20px;
				width: 100%;
				/*min-height: 340px;*/
			}

			.tab-content section {
				width: 100%;
				display: none;
			}

			.tab-content section h1 {
				margin-top: 15px;
				font-size: 100px;
				font-weight: 100;
				text-align: center;
			}

			#tab-1:checked ~ .tab-content #tab-item-1  {
				display: block;
			}

			#tab-2:checked ~ .tab-content #tab-item-2  {
				display: block;
			}

			.line{
				background: #0063a7;
				width: 100%;
				height: 2px;
				position: absolute;
				top: 44px;
				margin-left: -20px;
			}

			#tab-1:checked ~ .line {
				left: 0;
			}

			#tab-2:checked ~ .line {
				left: 50%;
			}